.comments-dialoge {
  min-height: 40vh;
  max-height: 90vh;
  position: relative;

  .p-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.5rem 0.5rem 1.5rem;
  }

  .comments-overall {
    overflow: auto;
    max-height: 60vh;
    scrollbar-width: none;
    .comment-sec-header {
      padding: 0.5rem 1rem;
      display: flex;
      gap: 20px;
      border-bottom: 1px solid lightgray;

      .content-sec-header-profile {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          background-position: center;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
      .comment-sec-header-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        .person-name {
          font-size: 16px;
          font-weight: 700;
        }
        .post-date {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .comments-dialoge-body {
      padding: 0rem 1.5rem;

      .comments-post-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0rem;
        height: 300px;
        width: 500px;
        margin: auto;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .p-divider {
      margin: 0rem;
      .p-divider-horizontal {
        margin: 0rem;
      }
    }

    .comments-section-main {
      overflow: auto;
      scrollbar-width: none;

      .each-comment {
        display: flex;
        padding: 0.5rem 1rem;
        width: 100%;

        .comment-person-image {
          height: 35px;
          width: 35px;
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-position: center;
            border-radius: 50%;
          }
        }

        .comment-about {
          display: flex;
          flex-direction: column;
          width: 100%;

          .comment-person-name {
            padding: 0.2rem 0.5rem;
            font-weight: 600;
            font-size: 14px;
            width: max-content;
          }

          .comment-content {
            padding: .2rem 0.5rem;
            background-color: aliceblue;
            border-radius: 5px;
            width: max-content;
            font-size: 13px;
          }
        }
      }
    }

    .no-comments {
      padding: 1rem;
      font-size: 14px;
    }
  }

  .content-sec-footer {
    min-height: 10vh;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    // border-top: 1px solid lightgray;
    position: sticky;
    margin-bottom: 0;

    .footer-section {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      height: 100%;
      border-radius: 10px;

      .comments-input-field {
        width: 100%;
        min-height: 50%;
        height: auto;
        text-wrap: wrap;
        border: none;
        box-shadow: none;
        background-color: transparent;
        overflow-y: scroll;
        scrollbar-width: none;
      }

      .post-button {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .send-icon {
          cursor: pointer;
        }

        .send-icon.disabled {
          cursor: pointer;
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    .comment-section-emoji-container {
      width: 100%;
      .emoji-picker-comment-section {
        width: 100% !important;
        height: 400px !important;
        margin-top: 1rem;
      }
    }
  }
}
