.people-main {
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 8vh;

  .people-container-overall {
    width: 35%;
    padding: 3rem 0rem;
    height: 92vh;
    overflow: auto;
    scrollbar-width: none;
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
      color: #0866ff;
      border-color: #0866ff;
    }

    .my-friends-container {
      padding: 1rem 0rem;
      .p-divider-horizontal {
        margin: 0.5rem;
      }

      .friends-container {
        padding: 0.5rem 0rem;
        display: flex;

        .friends-container-part-one {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;

          .friends-img {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;

            .friends-profile {
              height: 100%;
              width: 44%;
              border-radius: 50%;
              object-fit: cover;
              background-position: center;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
          }
        }

        .friends-container-part-two {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .friends-people-name {
            padding: 0.2rem 0rem;
            font-size: 18px;
            font-weight: 500;
          }
          .friends-people-bio {
            padding: 0rem 0rem;
            font-size: 16px;
          }
        }

        .friends-container-part-three {
          flex: 1;
          display: flex;
          gap: 20px;
          align-items: center;
        }
      }

      .no-friends {
        color: gray;
        padding: 2rem 2rem;
      }
    }

    .people-container {
      padding: 1rem 0rem;

      .request-container {
        padding: 0.5rem 0rem;
        display: flex;

        .request-container-part-one {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;

          .request-img {
            // height: 100%;
            // width: 45%;
            // border-radius: 50%;
            // object-fit: cover;
            // background-position: center;
            // background-color: aqua;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;

            .find-people-profile {
              height: 100%;
              width: 45%;
              border-radius: 50%;
              object-fit: cover;
              background-position: center;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
          }
        }

        .request-container-part-two {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .find-people-name {
            padding: 0.2rem 0rem;
            font-size: 20px;
            font-weight: 500;
          }

          .find-people-bio {
            padding: 0rem 0rem;
          }
        }

        .request-container-part-three {
          flex: 1;
          display: flex;
          gap: 20px;
          align-items: center;

          Button {
            box-shadow: none;
            border: none;
          }
        }
      }

      .no-request {
        // font-size: 20px;
        color: gray;
        padding: 2rem 2rem;
      }
    }

    .find-container {
      padding: 1rem 0rem;
      .p-divider-horizontal {
        margin: 0.5rem;
      }
      .find-people {
        padding: 0.5rem 0rem;
        display: flex;

        .find-people-image {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;

          .find-people-profile {
            height: 100%;
            width: 40%;
            border-radius: 50%;
            object-fit: cover;
            background-position: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
        .find-people-about {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .find-people-name {
            padding: 0.2rem 0rem;
            font-size: 18px;
            font-weight: 500;
          }

          .find-people-bio {
            padding: 0rem 0rem;
            font-size: 16px;
          }
        }
        .find-people-action {
          flex: 1;
          display: flex;
          align-items: center;

          Button {
            box-shadow: none;
            border: none;
            background-color: #0866ff;
            width: 70%;
            font-size: 14px;
          }

          .cancel-send {
            box-shadow: none;
            border: none;
            background-color: white;
            color: #0866ff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
      }
    }
  }
}
