.people-main {
  display: flex;
  justify-content: center;
  height: auto;

  .people-container-overall {
    width: 50%;
    padding: 3rem 0rem;

    .people-container {
      padding: 1rem 0rem;

      .request-container {
        padding: 0.5rem 0rem;
        display: flex;

        .request-container-part-one {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;

          .request-img {
            height: 100%;
            width: 45%;
            border-radius: 50%;
            object-fit: cover;
            background-position: center;
            background-color: aqua;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }

        .request-container-part-two {
          flex: 2;
        }

        .request-container-part-three {
          flex: 1;
          display: flex;
          gap: 20px;
          align-items: center;

          Button {
            box-shadow: none;
            border: none;
          }
        }
      }
    }

    .find-container {
      padding: 1rem 0rem;
      .find-people {
        padding: 0.5rem 0rem;
        display: flex;

        .find-people-image {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;

          .find-people-profile {
            height: 100%;
            width: 45%;
            border-radius: 50%;
            object-fit: cover;
            background-position: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
        .find-people-about {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .find-people-name {
            padding: 0.5rem 0rem;
            font-size: 20px;
            font-weight: 500;
          }

          .find-people-bio {
            padding: 0.5rem 0rem;
          }
        }
        .find-people-action {
          flex: 1;
          display: flex;
          align-items: center;

          Button {
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }
}
