.landingpage-main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  padding-top: 8vh;
  // position: relative;

  .landig-page-container-one {
    width: 20%;
    height: 92vh;
    position: sticky;
    top: 8vh;
    // background-color: aqua;
    padding: 1rem 2.5rem;

    .landig-page-container-one-main {
      // background-color: aquamarine;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;

      .container-one-sec-one {
        // background-color: bisque;
        display: flex;
        justify-content: center;
        position: relative;
        height: 20%;
        width: 100%;
        border-radius: 10px;
        // padding: .5rem;

        img {
          object-fit: fill;
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }

        .container-one-sec-one-profile {
          height: 150px;
          width: 150px;
          position: absolute;
          top: 58%;
          border-radius: 50%;
          border: 2px solid white;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            object-fit: cover;
            background-position: center;
          }
        }
      }

      .container-one-sec-two {
        margin-top: 30%;
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-name {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .container-one-sec-three {
        padding: 1rem;

        .container-one-sec-three-items {
          font-size: 14px;
          // background-color: aqua;
          display: flex;
          flex-direction: column;
          padding-left: 35%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-weight: 500;
          cursor: pointer;
        }

        .container-one-sec-three-items:hover {
          background-color: lightgray;
          border-radius: 5px;
        }
      }
    }
  }

  .landig-page-container-two {
    padding-top: 1rem;
    width: 35%;
    .landing-header {
      display: flex;
      justify-content: center;
      width: 100%;
      // padding: 0rem 4rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;

      .landing-header-profile {
        // background-color: aqua;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 55px;
          width: 55px;
          object-fit: cover;
          background-position: center;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }

      span {
        width: 100%;
        padding: 2rem 1rem;
      }
    }

    .landingpage-sec-two {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      // padding: 0rem 4rem;

      .landing-post-container {
        // padding: 1rem 1rem;
        // border: 1px solid lightgray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        border-radius: 10px;
        margin: 1rem 0rem;
        width: 100%;

        .landing-post-header {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem 1rem;

          .landing-header-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55px;
            width: 55px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 50%;
              background-position: center;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
          }

          .landing-header-about {
            width: 90%;
            height: auto;
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;

            .person-about {
              font-size: 18px;
              font-weight: 500;
            }

            .post-date {
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
        .p-divider.p-divider-horizontal {
          margin: 0;
        }

        .landing-post-body {
          height: auto;

          .landing-post-content {
            padding: 0rem 2rem;

            .empty-content {
              display: none;
            }
          }

          .landing-post-image {
            padding: 1rem 0rem;
            img {
              height: 500px;
              width: 100%;
              object-fit: contain;
            }
          }

          .post-reach {
            // background-color: aqua;
            display: flex;
            justify-content: space-between;

            .post-like-count,
            .post-comment-count {
              padding: 0rem 2rem;
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
        }

        .landing-post-footer {
          display: flex;
          height: 20px;
          padding: 1.5rem 1rem;

          .landing-footer-part-one {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .landing-footer-part-two {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .landing-footer-part-three {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .landing-footer-part-four {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .spinner-landing-page {
      margin-top: 9vh;
      justify-content: center;
      align-items: center;
      height: 40vh;
      width: 100%;
      // color: blue($color: #000000);
    }
  }

  .landig-page-container-three {
    width: 20%;
    height: max-content;
    max-height: 92vh;
    position: sticky;
    top: 8vh;
    padding: 1rem 2.5rem;

    .landig-page-container-three-main {
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;
      padding: 1rem 1rem;

      // .container-three-content-container {
      //   .container-three-content-items {
      //     font-size: 14px;
      //     font-weight: 500;
      //     padding-left: 35%;
      //     padding-top: 0.5rem;
      //     padding-bottom: 0.5rem;
      //     cursor: pointer;
      //   }
      //   .container-three-content-items:hover {
      //     background-color: lightgray;
      //     border-radius: 5px;
      //   }
      // }

      .accordian {
        .accordian-tab {
          .p-accordion-header-text {
            font-size: 14px;
          }
          .p-accordion-header-link {
            padding-left: 35%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: white;
            border: none;
          }
          .p-accordion-header-link:hover {
            background-color: lightgray;
            border-radius: 5px;
          }
          .p-accordion-toggle-icon {
            display: none !important;
          }
          .p-accordion-content{
            border: none;
            font-size: 14px;
          }
        }
      }
    }
  }
}
