.forgot-password-main {
  background-color: ghostwhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    .forgot-dialoge {
      text-align: center;

      .forgot-dialoge-title {
        font-size: 26px;
        padding: 0.5rem 0.5rem;
        width: 100%;
      }
      .find-section {
        width: 100%;
        padding: 0.5rem 0.5rem;
        display: flex;
        gap: 20px;

        .find-email {
          width: 100%;
          box-shadow: none;
        }

        span {
          // width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .new-password-container{
        width: 60%;
        .new-password-section{

            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem 2rem;

            .p-password-input{
                box-shadow: none;
            }

            .change-password{
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
  }
}

.dialoge-forgot {
  display: flex;
  justify-content: center;

  .forgot-otp {
    display: flex;
    justify-content: center;
  }

  .verify-button-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .Verify {
      width: 100%;
      background-color: aqua;
    }
  }
}
