.add-post-dialoge {
  width: 42vw !important;
  height: auto;
  max-height: 60vh;
  min-height: 50vh;

  .custom-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      object-fit: cover;
      background-position: center;
    }

    .custom-header-about {
      display: flex;
      flex-direction: column;

      .custom-header-name {
        font-size: 16px;
      }

      .custom-header-bio {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .p-dialog-content {
    display: flex;
    flex-direction: column;

    .editor-container {
      flex: 1;

      .add-post-editor {
        .ql-tooltip {
          left: 50px !important;

          .ql-tooltip-arrow {
            display: none;
          }
        }
      }
    }

    .add-post-image {
      flex: 0.1;
      width: 100%;
      display: flex;
      padding: 0rem 1rem;

      span {
        width: 6%;

        i {
          font-size: 25px;
        }
      }

      .show-image-container {
        width: 70%;
        // background-color: aqua;
        display: flex;
        justify-content: center;

        .post-image {
          height: 200px;
          width: 180px;
          object-fit: contain;
          background-position: center;
        }
      }
    }

    .emoji-picker-container {
      width: 100%;
      padding: .5rem .5rem;
      .emoji-picker {
        width: 100% !important;
      }
    }

    .add-post-button {
      width: 100%;
      flex: 0.1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem 1rem;

      Button {
        box-shadow: none;
        border: none;
      }
    }
  }
}
